{{>layouts/header}}
<div class="layout ml-5">
    <h3>이페이지는 show 입니다</h3>
    {{#article}}
        <div class="card mt-5" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">게시글 {{id}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{title}}</h6>
                <p class="card-text"> {{content}}</p>
                <a href = "/articles/{{id}}/edit" class="btn btn-danger">Edit</a>
            </div>
        </div>
    {{/article}}


    <br><a href="/articles/new">new article</a></br>
    <br><a href="/articles">list article</a></br>
</div>
{{>layouts/footer}}